@import './fonts.css';
@import './tailwind.css';
@import './theme.css';

/* Wireframe styling */
* {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  font-family: 'Courier New', monospace;
}